<div class="container " >
    <h1 class="text-center" mt-5 text-light > Hero App </h1>
</div>


<app-header></app-header>

<!-- mt: margin top  m: margin -->
<!-- col-3: bsh tekhedhlk rbo3 l'ecran -->

<!-- ncalli l component mtaa l'ajout -->

 <!-- <app-ajout></app-ajout> -->

<!-- ncalli l component mtaa l list -->

<!-- <app-list></app-list> -->



<!-- kif hashti bsh n3ayet toul l ay link fyhom f navbar -->

<router-outlet></router-outlet>





<!-- "https://cardotaku.com/cdn/shop/products/OP03-070.png?v=1675486271&width=290"-->